---
import Card from "./ui/Card.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  titleLink?: string;
  description: string;
  image?: string;
  subtitle?: string;
  techIcons: string[];
}

const { title, titleLink, description, subtitle, image, techIcons } =
  Astro.props;
---

<Card
  title={title}
  titleLink={titleLink}
  description={description}
  image={image}
  subtitle={subtitle}
>
  <div class="tech-icons">
    {
      techIcons.map((icon) => (
        <div class="icon-wrapper">
          <Icon name={icon.toLowerCase()} />
          <h4>{icon}</h4>
        </div>
      ))
    }
  </div>
</Card>
<style>
  .tech-icons {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.75rem 0.5rem;
  }

  h4 {
    margin: 0;
    color: #000;
  }

  .icon-wrapper {
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    max-width: 50%;
  }

  .icon-wrapper:hover {
    background-color: #e0e0e0;
  }

  .tech-icons svg {
    vertical-align: middle;
    padding-right: 10px;
    min-width: 27px;
    min-height: 27px;
  }
  @media (1610px <= width <= 1710px) {
    .tech-icons svg {
      max-width: 25px;
      max-height: 25px;
      min-width: 25px;
      min-height: 25px;
    }
  }

  @media (1150px <= width <= 1230px) {
    .tech-icons svg {
      max-width: 20px;
      max-height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
  }

  @media (540px >= width) {
    .tech-icons svg {
      max-width: 20px;
      max-height: 20px;
      min-width: 20px;
      min-height: 20px;
    }
  }
</style>
