---
import CardWithTech from "./CardWithTech.astro";
import Carousel from "./ui/Carousel";
import { projects } from "../information.json";
---

<section id="projects">
  <h3>Projects</h3>
  <Carousel>
    {
      projects.map((project) => (
        <CardWithTech
          title={project.title}
          titleLink={project.sourceCode}
          subtitle={project.subtitle}
          image={project.image}
          description={project.description}
          techIcons={project.techIcons}
        />
      ))
    }
  </Carousel>
</section>
<style>
  section {
    margin: 0 2rem;
  }
</style>
