---
import CardWithTech from "./CardWithTech.astro";
import Carousel from "./ui/Carousel";
import { jobs } from "../information.json";
---

<section>
  <h3>Experience</h3>
  <Carousel client:load>
    {
      jobs.map((job) => (
        <CardWithTech
          title={job.title}
          description={job.description}
          image={job.image}
          subtitle={job.company}
          techIcons={job.techIcons}
        />
      ))
    }
  </Carousel>
</section>
<style>
  section {
    margin: 0 2rem;
  }
</style>
