---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  titleLink?: string;
  subtitle?: string;
  description: string;
  image?: string;
  isHoverable?: boolean;
}

const {
  title,
  titleLink,
  subtitle,
  description,
  image,
  isHoverable = false,
} = Astro.props;
---

<div class={`card-container ${isHoverable ? "hoverable" : ""}`}>
  {image && <img src={image} alt="Card Image" />}
  <div class="card-info">
    <h3>
      {
        titleLink ? (
          <a class="title-link" href={titleLink} target="_blank">
            {title}
            <Icon name="arrow_right_up" />
          </a>
        ) : (
          <a>{title}</a>
        )
      }
    </h3>
    {subtitle && <h4>{subtitle}</h4>}
  </div>
  <p set:html={description} />
  <slot />
</div>
<style>
  h3 > a > svg {
    margin-left: 0.25rem;
    vertical-align: middle;
    margin-bottom: 2px;
  }
  h3 > a.title-link:hover {
    text-decoration: underline;
  }
  .card-container {
    display: grid;
    grid-template-columns: calc(60px + 1rem) 1fr;
    grid-template-rows: calc(70px + 1rem) 1fr auto;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--main);
    border-radius: 10px;
    border: 1px solid var(--accent-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: min(90%, 400px);
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
  }

  .card-container.hoverable {
    cursor: pointer;
  }

  .card-container.hoverable:hover {
    background-color: var(--main-hover);
    border-color: var(--accent-light-hover);
  }

  .card-container h3,
  .card-container h4,
  .card-container p {
    margin: 0;
  }

  .card-container h4 {
    font-weight: 300;
  }

  .card-container img {
    width: 60px;
    height: 60px;
    margin: auto;
  }

  .card-container p {
    text-align: justify;
    grid-column: span 2;
    padding: 0 0.6rem;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.75rem;
  }
</style>
