---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  titleLink?: string;
  subtitle?: string;
  description: string;
  image?: string;
}

const { title, titleLink, subtitle, description, image } = Astro.props;
---

<div class="card-container">
  {image && <img src={image} alt="Card Image" />}
  <div class="card-info">
    <h3>{titleLink ? <a class="title-link" href={titleLink} target="_blank">{title}<Icon name="arrow_right_up" /></a> : <a>{title}</a>}</h3>
    {subtitle && <h4>{subtitle}</h4>}
  </div>
  <p set:html={description} />
  <slot />
</div>
<style>
  h3 > a > svg {
    margin-left: 0.25rem;
    vertical-align: middle;
    margin-bottom: 2px;
  }
  h3 > a.title-link:hover {
    text-decoration: underline;
  }
  .card-container {
    display: grid;
    grid-template-columns: calc(60px + 1rem) 1fr;
    grid-template-rows: calc(60px + 1rem) 1fr auto;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--main);
    border-radius: 10px;
    border: 1px solid var(--accent-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card-container h3,
  .card-container h4,
  .card-container p {
    margin: 0;
  }

  .card-container h4 {
    font-weight: 300;
  }

  .card-container img {
    width: 60px;
    height: 60px;
    margin: 0.5rem;
  }

  .card-container p {
    text-align: justify;
    grid-column: span 2;
    padding: 0 0.6rem;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.75rem;
  }
</style>
